*{
    padding:0;
    margin:0;
}

body{
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-size:70px;
    padding:10px;
    position:absolute;
    top:20px;
    right:50px;
}

h1:hover{
    text-decoration: line-through;
}

.chef{
    text-decoration: none;
    color:black;
}

.kitchenimage{
    max-width:1000px;
    margin:350px 10px 50px 50px;
    z-index: 100;
    position: absolute;

}

.bryanimage{
    max-width:1000px;
    position: absolute;
    margin-top:240px;
    padding-left:30px;
    right:50px;
    z-index: 10;
}

.bryanimage:hover{
    z-index: 200;
}


h2{
    margin: 30px 0 30px 0;
    font-size:30px;
    padding-bottom:20px;
    text-align:center;
}

.para{
    margin-left:115px;
    margin-right:70px;
    margin-top: 10px;
    z-index: 0;
    padding:10px;
    font-size:20px;
}

.contact{
    font-size:50px;
    padding:10px;
    position:absolute;
    top:120px;
    right:50px;
}

.a{
    text-decoration: none;
    color:rgb(163, 155, 40);
}

.contact:hover a .new-label span{
    display: none;
}

.contact:hover a .new-label:after{
    content: 'chefbryan@gmail.com';
} 

.info{
    border: 3px solid rgb(163, 155, 40);
    width:75%;
    position: absolute;
    top:1100px;
    margin-left:100px;
    margin-bottom:100px;
    background-color: white;
    padding-bottom:40px;
}

.relative{
    position:relative;
}

.jars{
    width:40%;
    margin:30px auto 10px 60px;
    display:inline;
}

.apron{
    width:40%;
    margin:30px 50px 10px 50px
}

#learnmore{
    display:block;
    padding-top:100px;
    margin-top:-100px;
}
